<div id="geo" style = "margin-bottom:30px;" >

  <div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-3">
          <mat-form-field appearance="fill" style = "position: absolute; left: 5px;">
            <mat-label>Estados</mat-label>
            <mat-select  [(value)]="selectEstado" (selectionChange)="changeSelectEstado()">
                <mat-option *ngFor="let estado of estados" [value]="estado">
                    {{estado.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
          <mat-form-field appearance="fill" >
            <mat-label>Cidades</mat-label>
            <mat-select [(value)]="selectMunicipio" (selectionChange)="changeSelectMunicipio()">
                <mat-option *ngFor="let municipio of municipios" [value]="municipio">
                    {{municipio.nome}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        </div>
      </div>
      <div class="row" *ngIf="svg">
        <div class="col-lg-8 col-md-8 col-sm-8">
          <div class="main-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-danger">
                                <h4 class="card-title">Malha Geográfica</h4>
                               
                            </div>
                            <div class="card-body">
                              <div class="svg" [innerHTML]="svg"></div>
                            </div>
                        </div>
                    </div>
                 
                </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
          <mat-card class="example-card" >
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{selectMunicipio.nome}}</mat-card-title>
              <mat-card-subtitle>{{selectEstado.nome}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="../../assets/img/cidade-login.png" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
               <b>Estado:</b><span> {{selectEstado.nome}} - ({{(selectEstado.sigla)}})</span><br>
               <b>Município:</b><span> {{selectMunicipio.nome}}</span><br>
               <b>População Estimada:</b><span> {{selectInfo.populacaoEstimada}}</span><br>
               <b>População Último Censo:</b><span> {{selectInfo.populacaoUltimoCenso}}</span><br>
               <b>Densidade Demográfica:</b><span> {{selectInfo.densidadeDemografica}}</span><br>
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button (click)="openDialog()">Editar</button>
             
            </mat-card-actions>
          </mat-card>
        </div>
       
      </div>
    </div>

</div>
