#geo {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(100vh + 30px);
    margin-top: 70px;
}

.example-card {
    max-width: 300px;
  }
  
.example-header-image {
    background-image: url('../../assets/img/cidade-icon.png');
    background-size: cover;
}

.main-content{
    margin: 0px;
    padding: 0px;
}
