<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-warning card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">integration_instructions</i>
                      </div>
                      <p class="card-category">Total Projetos</p>
                      <h3 class="card-title">{{totalProjetosCadastrados}}
                          
                      </h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons text-danger">warning</i>
                          <a href="javascript:void(0)" (click)="goCarteira()">Projetos cadastrados na carteira de projetos</a>
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-success card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">store</i>
                      </div>
                      <p class="card-category">Total Informações Cidades Cadastradas</p>
                      <h3 class="card-title">{{totalInfosCadastrados}}</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">update</i> Atualizado agora
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-danger card-header-icon">
                      <div class="card-icon">
                          <i class="material-icons">info_outline</i>
                      </div>
                      <p class="card-category">Total Usuários Cadastrados</p>
                      <h3 class="card-title">2</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                        <i class="material-icons">update</i> Atualizado agora
                      </div>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
              <div class="card card-stats">
                  <div class="card-header card-header-info card-header-icon">
                      <div class="card-icon">
                          <i class="fa fa-twitter"></i>
                      </div>
                      <p class="card-category">Total Administradores</p>
                      <h3 class="card-title">1</h3>
                  </div>
                  <div class="card-footer">
                      <div class="stats">
                          <i class="material-icons">update</i> Atualizado agora
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-info card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">account_circle</i>
                </div>
                <p class="card-category">Usuário Logado</p>
                <h3 class="card-title">{{usuarioLogado}}</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">update</i> Atualizado agora
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="card card-stats">
            <div class="card-header card-header-warning card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">manage_accounts</i>
                </div>
                <p class="card-category">Perfis</p>
                <h3 class="card-title">{{perfis}}</h3>
            </div>
            <div class="card-footer">
                <div class="stats">
                  <i class="material-icons">update</i> Atualizado agora
                </div>
            </div>
        </div>
    </div>
</div>
  </div>
</div>
